/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Arimo);
/* line 5, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
body {
  font-family: 'Arimo', sans-serif;
  line-height:1.42;
}

@media (min-width: 991px) {
  /* line 16, ../sass/style.scss */
  .container {
    max-width: 940px !important;
    padding: 0 !important;
  }
}
/* line 22, ../sass/style.scss */
.wrapper {
  max-width: 940px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

/* header starts */
/* line 31, ../sass/style.scss */
header {
  height: 62px;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}

/* line 37, ../sass/style.scss */
.social {
  width: 122px;
  height: 24px;
  margin: 19px 0 0 1px;
  float: left;
}

/* line 44, ../sass/style.scss */
.vk {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 4px;
  background: url("../images/social.png") -1px 0;
}

/* line 54, ../sass/style.scss */
.fb {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 4px;
  background: url("../images/social.png") -29px 0;
}

/* line 63, ../sass/style.scss */
.twitter {
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 4px;
  background: url("../images/social.png") -57px 0;
}

/* line 72, ../sass/style.scss */
.googleplus {
  display: block;
  width: 38px;
  height: 24px;
  float: right;
  background: url("../images/social.png") -85px 0;
}

/* line 80, ../sass/style.scss */
.search_form {
  float: right;
  margin: 19px 0 0 0;
}
/* line 84, ../sass/style.scss */
.search_form_text {
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  width: 151px;
  height: 23px;
  outline: none;
  padding-left: 5px;
  margin-right: 4px;
}
/* line 94, ../sass/style.scss */
.search_form_submit {
  padding: 0 10px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
  background: linear-gradient(to top, #cecece 0%, #eee 100%);
  float: right;
  text-align: right;
  outline: none;
}

/* header ends */
/* content starts */
/* line 111, ../sass/style.scss */
.content {
  height: auto;
  width: 100%;
}
/* line 115, ../sass/style.scss */
.content_page_name {
  height: 60px;
  width: 100%;
}
/* line 119, ../sass/style.scss */
.content_page_name_title {
  font-size: 14px;
  margin: 14px 0 27px 10px;
}
/* line 123, ../sass/style.scss */
.content_page_name_title span {
  width: 7px;
  height: 7px;
  display: block;
  float: left;
  background-color: #000;
  margin: 5px 5px 0 0;
}
/* line 136, ../sass/style.scss */
.content_article_name {
  height: 147px;
  width: 100%;
}
/* line 141, ../sass/style.scss */
.content_article_author {
  text-align: right;
  color: #888;
  font-style: italic;
  font-size: 14px;
  margin: 0 0 18px 0;
}
/* line 149, ../sass/style.scss */
.content_article_description {
  height: 120px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
/* line 156, ../sass/style.scss */
.content_article_part1 {
  width: auto;
}

/* line 162, ../sass/style.scss */
.article_name_h1 {
  margin: 0 0 9px 0;
  font-size: 30px;
}

/* line 167, ../sass/style.scss */
.main_part {
  width: 100%;
  /*
  	&_left {
  		width:692.5px;
  		float:left;
  	}
  
  	&_right {
  		width:25%;
  		height:1142px;
  		float:right;
  	}
  */
}

/* line 185, ../sass/style.scss */
.part_right_list {
  width: 100%;
  height: auto;
  background-color: rgba(245, 244, 236, 0.6);
  border: 1px solid #eeecdd;
  margin-bottom: 31px;
  position: relative;
}
/* line 193, ../sass/style.scss */
.part_right_list::before {
  content: '';
  position: absolute;
  right: -1px;
  top: -1px;
  background-color: #fff;
  width: 30px;
  height: 17px;
  display: block;
}
/* line 204, ../sass/style.scss */
.part_right_list::after {
  content: '';
  position: absolute;
  right: -1px;
  top: -1px;
  opacity: 0.8;
  background: url(../images/tre.png) no-repeat;
  width: 30px;
  height: 17px;
  display: block;
}
/* line 217, ../sass/style.scss */
.part_right_images {
  width: 100%;
}

/* line 223, ../sass/style.scss */
.list_text {
  font-style: italic;
  font-size: 14px;
  padding: 14px;
}

/* line 231, ../sass/style.scss */
.images_img1 {
  height: auto;
  width: 100%;
}
/* line 236, ../sass/style.scss */
.images_img2 {
  height: auto;
  width: 100%;
}
/* line 241, ../sass/style.scss */
.images_description {
  font-size: 12px;
  padding: 6px 0 16px 0;
}

/* line 247, ../sass/style.scss */
table {
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 14px;
  margin: 17px 0 25px 0;
}
/* line 254, ../sass/style.scss */
table tr {
  height: 23px;
}
/* line 257, ../sass/style.scss */
table tr th {
  text-align: left;
  font-size: 12px;
  padding-left: 20px;
}
/* line 264, ../sass/style.scss */
table tr td {
  border: 1px solid #e5e5e5;
  padding-left: 9px;
}
/* line 268, ../sass/style.scss */
table tr td:nth-child(1) {
  padding-left: 20px;
}
/* line 272, ../sass/style.scss */
table tr td:nth-child(2) {
  padding-left: 18px;
}
/* line 276, ../sass/style.scss */
table tr td:nth-child(3) {
  padding-left: 20px;
}
/* line 280, ../sass/style.scss */
table tr td:nth-child(4) {
  padding-left: 20px;
}
/* line 285, ../sass/style.scss */
table .tables_header {
  height: 25px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: linear-gradient(to top, #cecece 0%, #eee 100%);
}

/* line 294, ../sass/style.scss */
.table_name {
  font-weight: bold;
}

/* line 298, ../sass/style.scss */
.education {
  font-weight: bold;
}

/* line 302, ../sass/style.scss */
.bold_one {
  font-weight: bold;
  margin: 0 0 31px 0;
}

/* line 307, ../sass/style.scss */
.block_info {
  width: 660px;
  background-color: rgba(245, 244, 236, 0.6);
  border-top: 1px solid #edebdc;
  border-bottom: 1px solid #edebdc;
  border-right: 1px solid #edebdc;
  border-left: 6px solid #edebdc;
  margin: 27px 0 23px 30px;
}
/* line 316, ../sass/style.scss */
.block_info_p {
  font-weight: bold;
  padding: 11px 9px;
  line-height: 22px;
}

/* line 323, ../sass/style.scss */
.division {
  margin-bottom: 20px;
}

/* line 327, ../sass/style.scss */
.univ {
  margin: 20px 0;
}

/* line 331, ../sass/style.scss */
.history {
  margin: 22px 0 18px 0;
  font-size:25px;
}

/* line 335, ../sass/style.scss */
.exp {
  margin: 25px 0 29px 0;
  font-size:25px;
}

/* line 339, ../sass/style.scss */
.amount {
  padding-bottom: 20px;
}

/* content ends */
/* footer starts */
/* line 347, ../sass/style.scss */
footer {
  height: auto;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  clear: both;
}

/* line 354, ../sass/style.scss */
.social_footer {
  width: 122px;
  height: 24px;
  margin: 20px 0 26px 1px;
  float: left;
}

/* footer ends */
@media (max-width: 991px) {
  /* line 364, ../sass/style.scss */
  .images_img2, .images_img1 {
    width: auto;
  }

  /* line 368, ../sass/style.scss */
  .part_right_list {
    width: 221px;
  }
}
@media (max-width: 767px) {
  /* line 374, ../sass/style.scss */
  .article_name_h1, .history {
    font-size: 20px;
  }

  /* line 378, ../sass/style.scss */
  .block_info {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /* line 384, ../sass/style.scss */
  .block_info_p {
    padding: 11px 22px 11px 11px;
  }

  /* line 388, ../sass/style.scss */
  .list_text {
    padding-right: 20px;
  }

  /* line 392, ../sass/style.scss */
  table {
    font-size: 11px;
  }
  /* line 397, ../sass/style.scss */
  table tr th {
    padding-left: 0;
    font-size: 10px;
    text-align: center;
  }
  /* line 404, ../sass/style.scss */
  table tr td {
    text-align: center;
  }
  /* line 407, ../sass/style.scss */
  table tr td:nth-child(1) {
    padding-left: 0;
  }
  /* line 411, ../sass/style.scss */
  table tr td:nth-child(2) {
    padding-left: 0;
  }
  /* line 415, ../sass/style.scss */
  table tr td:nth-child(3) {
    padding-left: 0;
  }
  /* line 419, ../sass/style.scss */
  table tr td:nth-child(4) {
    padding-left: 0;
  }
}
@media (max-width: 400px) {
  /* line 427, ../sass/style.scss */
  .search_form {
    width: 100%;
    display: block;
    float: left;
    margin: 0 0 10px 0;
  }
  /* line 433, ../sass/style.scss */
  .search_form_text {
    width: 160px;
  }
  /* line 437, ../sass/style.scss */
  .search_form_submit {
    float: none;
  }

  /* line 442, ../sass/style.scss */
  .social {
    display: block;
    margin: 10px auto;
  }

  /* line 447, ../sass/style.scss */
  header {
    height: auto;
  }
}
